@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&family=Rubik:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #145d6e;

  --color-primary-light-1: #23a1be;
  --color-primary-light-2: #29b8d8;
  --color-primary-light-3: #5ecbe4;

  --color-primary-dark-1: #0f4653;
  --color-primary-dark-2: #0a2e36;
  --color-primary-dark-3: #05181c;

  --color-gray: #b0eefc;

  --color-gray-light-1: #dff4f9;
  --color-gray-light-2: #f3fbfd;

  --color-gray-dark-0: #0f4450;
  --color-gray-dark-1: #0a2e36;
  --color-gray-dark-2: #05171b;
  --color-gray-dark-3: #444;

  --color-black: #000;
  --color-white: #f9f9f9f9;
  --color-border: #eee;
  --color-gradient: linear-gradient(
    to bottom right,
    var(--color-gray),
    var(--color-primary-light-3)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--color-gray-dark-0);
  letter-spacing: 0.8px;
  font-size: 1.6rem;
}

/* -----------------btn-component------------------ */
.btn,
.btn:link,
.btn:visited {
  padding: 5px 10px;
  transition: all 0.2s;
  text-decoration: none;
  font-size: 1.8rem;
}
.btn--fill,
.btn--fill:link,
.btn--fill:visited {
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 3px;
}
.btn--fill:hover,
.btn--fill:active {
  background-color: var(--color-primary-dark-1);
  border-color: var(--color-primary-dark-1);
}

.btn--border,
.btn--border:link,
.btn--border:visited {
  border: 2px solid var(--color-primary-dark-1);
  color: var(--color-primary-dark-1);
  border-radius: 3px;
}
.btn--border:hover,
.btn--border:active {
  color: var(--color-primary-light-2);
  border-color: currentColor;
}
.btn--link:link,
.btn--link:visited {
  padding: 8px 3px;
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.btn--link:hover,
.btn--link:active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/*-----------------grid-components------------------- */
.grid {
  display: grid;
}
.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
}
.grid-col-2-sm-l {
  grid-template-columns: 1fr 3fr;
}
.grid-col-2-l-sm {
  grid-template-columns: 3fr 1fr;
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.2rem;
}
.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3.2rem;
}
/*-----------------utility-components------------------- */
.u-center {
  text-align: center;
}
.u-margin-bottom-small {
  margin-bottom: 1.8rem;
}

.u-margin-left-big {
  margin-left: 9.6rem;
}
/*-----------------Typography-------------------- */
.heading-primary {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 3.2rem;
  color: var(--color-primary-dark-1);
}
.heading-secondary {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 2.4rem;
  color: var(--color-primary);
}
.heading-tertiary {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 2.4rem;
  color: var(--color-primary);
}
.paragraph {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}
/*-----------------popups------------------- */
.intro-video-box {
  display: none;
}
.video-active .intro-video-box {
  display: block;
  background-color: #05181c;
  position: fixed;
  width: 52%;
  height: 40rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.intro-video {
  width: 100%;
  height: 100%;
}

.intro-close,
.popup-close {
  position: absolute;
  color: var(--color-primary);
  background-color: var(--color-gray-light-1);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  right: 1rem;
  top: 1rem;
  z-index: 3;
  border: none;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-close:hover,
.popup-close:hover {
  background-color: var(--color-primary);
  color: var(--color-gray-light-1);
}
.overlay {
  display: none;
}
.video-active .overlay,
.create-success .overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.popup-text {
  display: none;
}
.popup-text p {
  margin-bottom: 2.4rem;
}
.create-success .popup-text {
  display: block;
  background-color: var(--color-gray);
  color: var(--color-primary);
  text-align: center;
  font-size: 3.2rem;
  position: fixed;
  width: 50%;
  padding: 6.4rem 2rem;
  height: 20rem;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

/* ########################### index page #############################################*/

/*------------------container for header and hero------------------- */
.container-header-hero {
  background-image: var(--color-gradient);
}
/*-----------------header-section------------------- */
.header {
  padding: 2rem 7rem;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-primary);
}
.nav-logo__icon {
  font-size: 4.5rem;
  margin-right: 5px;
}
.nav-logo__title {
  font-size: 2.4rem;
  font-weight: 900;
  letter-spacing: 0.7px;
}
.nav-link-box {
  flex-basis: 80%;
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.nav-item:has(> a[href*="signin"]) {
  margin-left: auto;
}
/* for FireFox */
.nav-item__signin {
  margin-left: auto;
}
.nav-link::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  transition: All 0.4s;
  transform: translateY(8px) scaleX(0);
  background-color: var(--color-gray-dark-2);
  transform-origin: 0;
}
.nav-link:link,
.nav-link:visited {
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--color-primary-dark-1);
  transition: all 0.2s;
}
.nav-link:hover,
.nav-link:active {
  color: var(--color-primary-dark-3);
}
.nav-link:hover::after {
  transform: translateY(8px) scaleX(1);
}

.nav-hum-berger {
  font-size: 4rem;
  display: none;
  cursor: pointer;
}
.nav-close {
  font-size: 4rem;
  display: none;
  cursor: pointer;
}
.header--home {
  width: 100%;
  background-color: rgba(255, 255, 252, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 6.4rem;
  z-index: 2;
  backdrop-filter: blur(5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);
}
/*-----------------Hero-section------------------- */

.section-hero {
  padding: 4.8rem 7rem 9.6rem;
}
.hero-text-box {
  padding: 4rem;
}
.ceo-audio__box {
  padding: 5px;
  margin-bottom: 3.2rem;
}
.ceo-audio-caption {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 1rem;
  border-radius: 5px;
  margin-left: -10px;
  cursor: pointer;
  transition: all 0.3s;
}
.ceo-audio-caption:hover {
  background-color: var(--color-primary-light-3);
}
.ceo-audio__title {
  display: inline-block;
  font-size: 2rem;
}
.ceo-audio-icon {
  font-size: 3.6rem;
  color: var(--color-primary);
}
.hero-links {
  display: flex;
  gap: 2rem;
}
.hero-img-box {
  position: relative;
}

.hero-img {
  filter: hue-rotate(60deg);
  opacity: 0.8;
  width: 70%;
}
.hero-img-2 {
  position: absolute;
  width: 65%;
  top: 60%;
  left: 35%;
}

/*-----------------featured-section------------------- */
.section-featured {
  padding: 4.8rem;
}
.featured-heading {
  text-align: center;
  margin-bottom: 3.2rem;
  color: rgba(51, 51, 51, 0.8);
  font-size: 1.4rem;
}
.featured-logos {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 4rem;
}
.featured-logo {
  height: 8rem;
  filter: brightness(0);
  opacity: 0.65;
}

/*-----------------Intro-section------------------- */

.section-intro {
  padding: 9.6rem;
}
.intro-image-box {
  height: fit-content;
  display: inline-block;
  position: relative;
}
.intro-image {
  width: 100%;
  border-radius: 1.7rem;
  box-shadow: 0 1.2rem 2.5rem rgba(0, 0, 0, 0.1);
  filter: sepia(0.4) opacity(0.7);
}
.intro-text {
  padding: 6.4rem;
}
.intro-video-play-btn {
  height: 13vw;
  width: 13vw;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary-light-3),
    var(--color-gray)
  );
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0rem 0rem 6rem 4rem rgba(20, 93, 110, 0.7);
  transition: all 0.2s;
  cursor: pointer;
}
.intro-video-play-btn:hover {
  transform: translate(-50%, -55%);
}
.intro-video-play-btn:active {
  transform: translate(-50%, -50%) scale(0.95);
}
.intro-video-icon {
  font-size: 15vw;
}

/*-----------------features-section------------------- */

.section-features {
  padding: 9.6rem 12.8rem;
  background-color: var(--color-white);
}
.features {
  margin-top: 4.8rem;
}
.feature-box {
  padding: 6.4rem 3.2rem;
  flex-basis: 25%;
  box-shadow: 0 1.2rem 2.5rem rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid var(--color-primary);
  border-radius: 5px;
  margin-bottom: 6.4rem;
  transition: all 0.5s;
}
.feature-box:hover {
  transform: translateY(-1rem) scale(1.03);
}
.feature-description {
  backface-visibility: hidden;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
  text-align: center;
}

.feature-icon {
  font-size: 4rem;
  color: var(--color-primary);
  margin-bottom: 3.2rem;
}
.feature-link-box {
  text-align: center;
}

/*-----------------testimonial-section------------------- */
.section-testimonial {
  border-top: 1px solid var(--color-border);
  padding: 9.6rem 0;
  position: relative;
  background-color: var(--color-white);
}
.testimonials {
  display: flex;
  width: 100%;
  gap: 8%;
  padding: 3.2rem 0;
  overflow: hidden;
  margin-bottom: 3.2rem;
}
.testimonial-box {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.testimonial {
  border-top: 3px solid var(--color-primary);
  display: flex;
  width: 46%;
  flex-shrink: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.7s;
}

.testimonial::after {
  font-family: "Rubik";
  content: "\201C";
  font-size: 20rem;
  position: absolute;
  display: block;
  right: 0;
  opacity: 0.07;
  top: -4rem;
}
.testimonial-img {
  min-width: 0;
  width: 150%;
  opacity: 0.8;
}
.testimonial-text {
  padding: 9.6rem 3.2rem;
}
.testimonial-quote {
  font-weight: 400;
  font-style: italic;
  color: var(--color-primary);
  margin-bottom: 1.6rem;
}
.testimonial-author {
  font-size: 1.4rem;
  color: var(--color-gray-dark-3);
}
.testimonial-btn {
  color: var(--color-gray);
  cursor: pointer;
  font-size: 4.8rem;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.testimonial-btn-left {
  top: 50%;
  left: -4%;
}

.testimonial-btn-right {
  top: 50%;
  left: 107%;
}

.active-btn.testimonial-btn:hover {
  color: var(--color-primary-light-1);
}

.active-btn.testimonial-btn:active {
  transform: translate(-50%, -50%) scale(0.9);
}

.circle-btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.circle-btn {
  border: 3px solid var(--color-primary);
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.circle-btn--active {
  background-color: var(--color-primary);
}
.active-btn {
  color: var(--color-primary);
}

/*-----------------getStarted-section------------------- */
.section-getStarted {
  padding: 6.4rem 9.6rem;
  background-image: var(--color-gradient);
}

.getStarted-text {
  padding: 18rem 6.4rem;
  background-image: var(--color-gradient);
  clip-path: polygon(
    0 20%,
    60% 20%,
    60% 0,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.getStarted-paragraph {
  font-size: 1.8rem;
  margin-top: -1rem;
  color: var(--color-gray-dark-3);
}
.form-box {
  justify-self: center;
  width: 67%;
  padding: 3.2rem;
  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

.label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 5px;
}
.input {
  border: none;
  font-family: inherit;
  padding: 1rem 1rem;
  border: 2px solid var(--color-primary-light-1);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 4px;
}

.form-Validation {
  margin-bottom: 8px;
  font-size: 1.2rem;
  color: orangered;
  height: 1.6rem;
}
.input:focus {
  outline: none;
  border: 2px solid var(--color-primary);
}

/*-----------------pricing-section------------------- */
.section-pricing {
  padding: 9.6rem;
  background-color: var(--color-white);
}
.prices {
  padding: 0 12.8rem;
  column-gap: 3.2rem;
  margin-top: 4.8rem;
}
.pricing-box {
  padding: 4.8rem 2.4rem;
  background-color: var(--color-white);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.07);
  border-top: 3px solid var(--color-primary);
  border-radius: 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.pricing-box--premium::after {
  content: "BEST";
  display: inline;
  position: absolute;
  background-color: var(--color-primary);
  font-size: 1.8rem;
  font-weight: 900;
  padding: 5px 7rem;
  color: var(--color-white);
  top: 26px;
  right: -48px;
  transform: rotate(40deg);
}

.pricing-heading {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 4.8rem;
  color: var(--color-primary);
}
.pricing-value {
  font-size: 6.4rem;
  font-weight: 900;
  color: var(--color-primary-dark-1);
}
.pricing-value span {
  font-size: 2.4rem;
  font-weight: 600;
}
.pricing-description {
  margin-bottom: 6.4rem;
  font-size: 1.4rem;
}
.link-box {
  margin-top: 4.8rem;
  text-align: center;
}

/*-----------------footer-section------------------- */
.section-footer {
  padding: 9.6rem;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  column-gap: 4rem;
  background-image: var(--color-gradient);
}

.footer-col:first-child {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 23rem;
}

.footer-social-media a:not(:last-child) {
  display: inline-block;
  margin-right: 5px;
}
.footer-social-media a:link,
.footer-social-media a:visited {
  display: inline-block;
  font-size: 3.2rem;
  text-decoration: none;
  color: var(--color-primary);
  transition: all 0.2s;
}

.footer-social-media a:hover,
.footer-social-media a:active {
  color: var(--color-primary-dark-2);
}
.footer-social-media a span {
  display: none;
}
.footer-copyright {
  margin-top: auto;
  font-size: 1.4rem;
}
.footer-heading {
  margin-bottom: 3.2rem;
}
.footer-address {
  margin-bottom: 4.8rem;
}

a[href^="tel"] {
  display: inline-block;
  margin-bottom: 1.2rem;
}

.footer-nav-links {
  list-style: none;
}
.footer-nav-link:link,
.footer-nav-link:visited {
  transition: all 0.2s;
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.6rem;
}
.footer-nav-link:active,
.footer-nav-link:hover {
  color: var(--color-gray-dark-1);
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 1rem;
}

/* ########################### features page #############################################*/

/*-----------------header-modification------------------- */

.header-mode {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.07);
  padding: 0.5rem 7rem;
  margin-top: 1rem;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: var(--color-white);
}

.header-mode .nav-link::after {
  transform: translateY(17px) scaleX(0);
}
.header-mode .nav-link:hover::after {
  transform: translateY(17px) scaleX(1);
}

/*-----------------features-section------------------- */

.feature-search--form {
  text-align: center;
}

.search-box {
  display: inline-block;
  position: relative;
  width: 40%;
  margin-bottom: 1.8rem;
}
.label-search {
  display: none;
}
.feature-input {
  font-size: 1.8rem;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid var(--color-primary-light-1);
  padding: 1rem 1.2rem;
  border-radius: 9px;
  width: 100%;
}
.feature-btn {
  background-color: transparent;
  border: none;
  font-size: 2.4rem;
  color: var(--color-primary);
  position: absolute;
  top: 50%;
  left: 93%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.feature-btn span {
  display: none;
}
.feature-input:focus {
  outline: none;
  border: 2px solid var(--color-primary);
}
.feature-text {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 6.4rem;
}

.features-box {
  border: 1px solid var(--color-border);
  border-radius: 10px;
  overflow: hidden;
}
.side-bar {
  background-color: #145d6e;
  padding-top: 9.6rem;
}

.side-nav-buttons {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.side-heading {
  color: var(--color-white);
  font-size: 2rem;
  margin-bottom: 2rem;
  padding-left: 4.8rem;
}
.side-nav-item {
  padding: 7px 6.4rem;
  font-size: 1.6rem;
  color: var(--color-white);
  position: relative;
  cursor: pointer;
}

.side-nav-item::before {
  content: "";
  display: block;
  width: 5px;
  height: 100%;
  background-color: var(--color-white);
  position: absolute;
  transform: scaleY(0);
  transition: transform 0.5s;
  top: 0;
  left: 1px;
}
.side-nav-item-active::before,
.side-nav-item:hover::before {
  transform: scaleY(1);
}

.side-nav-item span {
  margin-left: 10px;
}
.side-nav-item:not(:last-child) {
  margin-bottom: 5px;
}

.features-all {
  overflow: auto;
  max-height: 70rem;
  padding: 4.8rem;
}
.features-all::-webkit-scrollbar {
  width: 10px;
}
.features-all::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.features-all::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 100px;
}

/* ########################### pricing page #############################################*/

/*-----------------pricing-section------------------- */
.prices-all {
  padding: 0 4rem;
  column-gap: 4.8rem;
}
.pricing-text {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 6.4rem;
}
.pricing-details {
  text-align: center;
  list-style: none;
  width: fit-content;
  margin: 6.4rem auto;
  text-align: start;
  padding: 0 2.4rem;
}
.pricing-detail-item:not(:last-child) {
  margin-bottom: 1.8rem;
}

.pricing-icon {
  font-size: 2rem;
  margin-right: 10px;
}

/*------------section-price-compare----------------------- */
.section-price-compare {
  padding: 9.6rem;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-border);
}
.price-compare {
  width: 80%;
  margin: 4.8rem auto;
  border-collapse: collapse;
}
.price-compare--body tr:nth-child(odd) {
  background-color: var(--color-gray);
}
.price-compare--head th:first-child {
  border: none;
  opacity: 0;
}
.price-compare--body td:not(:first-child) {
  text-align: center;
  font-size: 2.6rem;
}
th,
td {
  width: 5%;
  padding: 1rem 0;
  border: 1px solid #eee;
}
th {
  padding: 2rem 0;
}
tr td:first-child {
  width: 10%;
  font-size: 1.8rem;
}

th {
  font-size: 2.4rem;
  font-weight: 900;
}

/* ########################### FAQ page #############################################*/

/*-----------------FAQ-section------------------- */
.section-fqa {
  padding: 9.6rem;
  background-color: var(--color-white);
}
.fqa {
  width: 60%;
  margin: 6.4rem auto;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.fqa-item {
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 2.4rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 2.4rem;
  font-size: 1.8rem;
  border-radius: 5px;
  align-items: center;
}

.fqa-number {
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-primary);
}
.fqa-heading {
  font-weight: 400;
  color: var(--color-primary);
}
.fqa-content {
  color: var(--color-primary);
  line-height: 1.5;
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}
.fqa-content-box {
  grid-column: 2;
  display: none;
}
.shown {
  border-top: 4px solid var(--color-primary);
}
.shown .fqa-content-box {
  display: block;
}
.shown .fqa-number {
  color: var(--color-primary);
}
.shown .fqa-heading {
  color: var(--color-primary);
}
.shown i {
  transform: rotate(180deg);
}

/* ########################### about page #############################################*/

/*-----------------about-section------------------- */

.about-heading {
  background-image: var(--color-gradient);
  padding: 12.8rem 0;
}
.about-heading h1 {
  text-align: center;
}

.about-descrption-box {
  padding: 12.8rem 20rem;
  background-color: var(--color-white);
}
.about-description {
  line-height: 1.5;
  text-indent: 5rem;
  letter-spacing: 1px;
}

.about-ceo {
  padding: 12.8rem 25rem;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-border);
}
.about-ceo--img {
  width: 55%;
  height: 55%;
  border-radius: 3px;
  margin-bottom: 1.8rem;
}
.about-ceo--text blockquote {
  margin-top: 1.6rem;
  font-style: italic;
  font-weight: 400;
}
.ceo-social-media {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}
.ceo-social-media a:link i,
.ceo-social-media a:visited i {
  font-size: 4.8rem;
  color: var(--color-primary);
  transition: all 0.2s;
}
.ceo-social-media a:hover i,
.ceo-social-media a:active i {
  color: var(--color-gray-dark-1);
}
.ceo-social-media span {
  display: none;
}

/* ########################### contact page #############################################*/

/*-----------------contact-section------------------- */
.section-contact {
  padding: 9.6rem 0;
  background-color: var(--color-white);
}

.contact-info {
  border-right: 1px solid var(--color-border);
  font-size: 1.4rem;
  text-align: center;
  padding: 3.2rem;
}
.contact-info a {
  text-decoration: none;
  color: var(--color-primary);
}
.contacts .grid {
  column-gap: 3.2rem;
  width: 60%;
  margin: 4.8rem auto;
}

.contact-box:not(:last-child) {
  margin-bottom: 5rem;
}

.contact-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.contact-icon {
  font-size: 3.2rem;
}
.contact-name .input {
  width: 100%;
  margin: 0;
}
.contact-name {
  display: flex;
  gap: 3.2rem;
  width: 100%;
}
.contact-firstname,
.contact-lastname {
  width: 100%;
}

.contact-name label {
  display: block;
}

.contact-textarea {
  border: 2px solid var(--color-primary-light-1);
  width: 100%;
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 1rem;
}
.contact-textarea:focus {
  outline: none;
  border: 2px solid var(--color-primary);
}

/* ########################### signin page #############################################*/

/*-----------------signin-section------------------- */

.section-signIn {
  padding: 9.6rem;
}

.section-signIn .form-box {
  width: 30%;
  margin: 0 auto;
}

.section-signIn a {
  display: inline-block;
  margin-top: 2.4rem;
}

.section-signIn .form-box {
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
}

/**********************************************/
/**************** midea query *****************/
/**********************************************/
/* at 1193px  = 74.5625em*/

@media (max-width: 74.5625em) {
  html {
    font-size: 56.25%;
  }
}

/* at 1096px  = 68.5rem */

@media (max-width: 68.5em) {
  .form-box {
    width: 85%;
  }
  .prices {
    padding: 0 3.2rem;
  }
  .section-features {
    padding: 9.6rem 6.4rem;
  }
  .features-all {
    grid-template-columns: repeat(2, 1fr);
  }

  .pricing-box {
    padding: 4.8rem 0rem;
  }
  .pricing-page .section-pricing {
    padding: 0 4.8rem;
  }

  .section-fqa {
    padding: 9.6rem 6.4rem;
  }
  .fqa {
    width: 80%;
  }

  .about-descrption-box {
    padding: 12.8rem 10rem;
  }

  .grid-col-2-l-sm {
    grid-template-columns: 1fr;
  }
  .ceo-social-media {
    flex-direction: row;
    gap: 4.8rem;
    margin-top: 3.2rem;
  }
}

/* at 966px  = 68.5em */

@media (max-width: 60.375em) {
  .nav-links {
    display: none;
  }
  .nav-links--active {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(176, 238, 252, 0.6);
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(15px);
  }
  .header--home .nav-links--active {
    height: 900%;
    background-color: rgba(176, 238, 252, 0.95);
  }
  .nav-link::after,
  .header-mode .nav-link::after {
    transform: translateY(5px) scaleX(0);
  }
  .nav-link:hover::after,
  .header-mode .nav-link:hover::after {
    transform: translateY(5px) scaleX(1);
  }

  .nav-item__signin {
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .nav-item:has(> a[href*="signin"]) {
    margin-left: 0;
  }

  .nav-hum-berger {
    display: block;
  }

  .nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .grid-col-2 {
    grid-template-columns: 1fr;
  }
  .hero-text-box {
    text-align: center;
  }
  .ceo-audio__box {
    display: inline-block;
  }
  .hero-links {
    width: fit-content;
    margin: 0 auto;
  }
  .hero-img-box {
    width: 80%;
    margin: 4.8rem auto;
  }
  .section-hero {
    padding-bottom: 20rem;
  }
  .intro-text {
    text-align: center;
    grid-row: 1;
  }
  .intro-image-box {
    width: 70%;
    justify-self: center;
  }
  .intro-video-play-btn {
    left: 50%;
    height: 20vw;
    width: 20vw;
  }
  .intro-video-icon {
    font-size: 22vw;
  }

  .featured-logo {
    height: 6rem;
  }
  .testimonial-img {
    width: 50%;
  }

  .testimonials {
    width: 100%;
    gap: 0;
  }
  .testimonial {
    width: 100%;
  }
  .getStarted-text {
    clip-path: none;
    padding: 3.2rem;
    background-image: none;
    text-align: center;
  }

  .form-box {
    width: 60%;
  }
  .side-nav-item {
    padding: 7px 4.8rem;
  }

  .section-price-compare {
    padding: 2.4rem;
  }
  .price-compare {
    width: 100%;
  }

  .section-signIn .form-box {
    width: 50%;
  }
}

/* at 906px  = 56.625em */

@media (max-width: 56.625em) {
  .grid-col-4 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.2rem;
  }
  .section-pricing {
    padding: 9.6rem 3.2rem;
  }

  .section-footer {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: (2, 1fr);
    row-gap: 9.6rem;
  }
  .footer-col:first-child,
  .footer-col:nth-child(2) {
    grid-column: span 3;
    grid-row: 2;
  }
  .footer-col:nth-child(3),
  .footer-col:nth-child(4),
  .footer-col:last-child {
    grid-column: span 2;
  }

  .grid-col-2-sm-l {
    grid-template-columns: 1fr;
  }
  .side-bar {
    padding: 2rem 0;
  }

  .side-nav-buttons {
    flex-direction: row;
    gap: 2.4rem;
    justify-content: center;
  }

  .side-nav-item {
    padding: 7px 0rem 0 2rem;
  }
  .pricing-page .section-pricing {
    padding: 9.6rem 20rem;
  }
  .pricing-page .grid-col-3 {
    grid-template-columns: 1fr;
    row-gap: 6.4rem;
  }
  .contact-info {
    border-right: none;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 4.8rem;
  }

  .about-ceo {
    padding: 6.4rem 15rem;
  }
  .about-descrption-box {
    padding: 6.4rem 5rem;
  }
}

/* at 757px  = 47.3125em */

@media (max-width: 47.3125em) {
  html {
    font-size: 50%;
  }
  .section-pricing {
    padding: 6.4rem;
  }
  .grid-col-3 {
    grid-template-columns: 1fr;
    row-gap: 6.4rem;
  }
  .testimonial-img {
    width: 100%;
  }

  .search-box {
    width: 60%;
  }
  .pricing-page .section-pricing {
    padding: 9.6rem 12.8rem;
  }
  .section-fqa {
    padding: 9.6rem 3.2rem;
  }
  .fqa {
    width: 90%;
  }

  .section-signIn {
    padding: 9.6rem;
  }

  .section-signIn .form-box {
    width: 70%;
  }
}

/* at 578px  = 36.125em */

@media (max-width: 36.125em) {
  .header {
    padding: 5px 2.4rem;
  }
  .section-hero {
    padding: 4.8rem 2.4rem 9.6rem;
  }

  .hero-text-box {
    padding: 0rem;
  }

  .heading-primary {
    font-size: 3rem;
  }

  .hero-img-box {
    width: 95%;
  }
  .featured-logo {
    height: 3rem;
  }
  .featured-logos {
    gap: 2rem;
  }
  .section-intro {
    padding: 4.8rem 2.4rem;
  }
  .intro-text {
    padding: 1rem;
  }
  .intro-image-box {
    width: 90%;
  }
  .intro-video-play-btn {
    height: 30vw;
    width: 30vw;
  }
  .intro-video-icon {
    font-size: 33vw;
  }
  .grid-col-4 {
    grid-template-columns: 1fr;
  }
  .testimonial-img {
    width: 150%;
  }

  .section-getStarted {
    padding: 6.4rem 2.4rem;
  }

  .getStarted-text {
    padding: 1.2rem;
  }

  .form-box {
    width: 80%;
  }
  .testimonial-btn {
    font-size: 3rem;
  }
  .section-footer {
    padding: 6.4rem 2.4rem;
  }
  .search-box {
    width: 80%;
  }

  .section-features {
    padding: 9.6rem;
  }
  .page-features .section-features {
    padding: 6.4rem 2.4rem;
  }

  .section-footer {
    column-gap: 1rem;
  }
  .heading-secondary {
    text-align: center;
  }
  .u-margin-left-big {
    margin: 0;
  }
  th {
    font-size: 1.8rem;
  }
  .section-price-compare {
    padding: 4.8rem 1rem;
  }
  .pricing-page .section-pricing {
    padding: 6.4rem 6.4rem;
  }

  .fqa-heading {
    font-size: 1.6rem;
  }

  .section-fqa {
    padding: 9.6rem 1rem;
  }
  .fqa {
    width: 100%;
  }

  .contacts .grid {
    width: 80%;
  }
  .about-ceo {
    padding: 4.8rem 5rem;
  }
  .about-descrption-box {
    padding: 4.8rem 2.4rem;
  }

  .video-active .intro-video-box {
    width: 90%;
    height: 30rem;
  }

  .section-signIn {
    padding: 6.4rem 3.2rem;
  }

  .section-signIn .form-box {
    width: 90%;
  }
}

/* at 464px  = 29em */

@media (max-width: 29em) {
  .side-nav-buttons {
    flex-direction: column;
  }
  .side-nav-item {
    padding: 0 6.4rem;
  }
  .pricing-page .section-pricing {
    padding: 6.4rem 2.4rem;
  }

  th,
  td {
    width: 2%;
  }
}
